<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquerysctipttop.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
  
  <script src="{% static 'jquery/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/anchor.js' %}"></script>
  <script src="{% static 'js/moment.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'jquery/jquery-3.2.1.slim.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datetimepicker.min.js'%}"></script>

  <script src="{% static 'js/notification.js' %}"></script>

  <title>{% block title%}Up-to-date{% endblock %}</title>
</head>
<body onload = "check_deadline()">
  <!--Navbar top-->
  <header>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top mb-1 p-1">
      <a href="{% url 'task:projects'%}" class="navbar-brand">
        <span><strong>Up-to-date</strong></span>
      </a>
      <ul class="navbar-nav mr-auto"></ul>

      <form class="form-inline">
        <div class="nav-item dropdown">
          <button type="button" class="btn btn-danger" onclick="Clicked()" data-toggle="dropdown">
            <i class="fas fa-bell" id="noti-count">
              {% if noti_count > 0 %}
                {{ notic_count}}
              {% endif %}
            </i>
          </button>
          <div class="dropdown-menu dropdown-menu-right scrollable-menu" id="noti-list">
            {% block noti%}
            {% for noti in notis %}
              <a class = "dropdown-item" href = "{% url 'task:project' noti.task.project.id %}" style="word-break: break-word;">
                <p><strong>{{ noti.task.title }}</strong></p>
                <p><strong>{{ noti.content }}</strong></p>
                <p ><small><em>{{ noti.creationDate}}</em></small></p>
              </a>
            {% endfor %}
            {% endblock %}
          </div>
        </div>
        <a class="nav-item px-2" href="{% url 'user:user_profile' %}" style="color: cornsilk">{{user.username}}</a>
        <!--Dropdown user profile-->
        <div class="nav-item dropdown">
          <button type="button" class="btn btn-outline-blue py-1 px-1 mx-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{user.Info.user_avatar.url}}" width="40" height="40" class="rounded-circle">      
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'user:user_profile' %}">Profile</a>
            <hr>
            <a class="dropdown-item" href="{% url 'myuser:logout' %}">Log out</a>
          </div>
        </div>
      </form>
    </nav>
  </header>
  <main role="main">
    <div id="contain" class="container-fluid">
      {% block contain %}

      {% endblock %}
    </div>
  </main>
  <footer>
    <div class="container">
      <span class="text-muted">Up-to-date</span>
    </div>
  </footer>
<script type="text/javascript">
  $(function () {
      $('.datetimepicker1').datetimepicker(
      {
          format:'YYYY-MM-DD HH:mm',
          minDate: new Date(),
      }
      );
  });
</script>

</body>

  </html>