{% extends "task/base_left.html" %}
{% load static %}
{% block left %}
<!--Sidebar left-->
<div class="sidebar ">
  <div class="sticky-top">
    <p><button class="btn btn-sm btn-outline-dark btn-block" data-toggle="modal" data-target="#myProject"><strong>Create new project</strong></button></p>
    <p><button class="btn btn-sm btn-outline-dark btn-block" onclick="sortList(1)"><strong>Sort by name</strong></button></p>
    <p><button class="btn btn-sm btn-outline-dark btn-block" onclick="sortList(0)"><strong>Sort by date</strong></button></p>
</div>
</div>
<!--End sidebar-->
{% endblock %}
  <!--Contents board-->
{% block contain-right %}
  <div class="album">
    <div class="container">
      <div class="row" id="id1">
        {% for project in projects %}
          <div class="col-lg-4 sort">
            <div class="card border-dark mb-4">
              <!--Anchor close-->
              <a class="anchorjs-link topright" data-toggle="modal" data-target="#id{{project.id}}"" data-anchorjs-icon="">
                <button type="button" class="close btn btn-danger" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </a>
              <!--Modal deleta project-->
              <div class="modal fade" id="id{{project.id}}">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Do You Want To Delete Project {{project.title}}</h4>
                    </div>
                    <div class="modal-footer">
                      <a href="{% url 'task:del-project' project.id %}" class="btn btn-success">Delete</a>
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            <!--End modal-->
              <!--Show information-->
              <div class="card-body">
                <p class="card-text" id="{{project.id}}">{{project.title}}</p>
                <a href="{% url 'task:project' project.id  %}" class="stretched-link"></a>
                <div class="bottomright">
                  <p id="time_project">
                    <i class="far fa-clock"></i>
                    <small class="text" style="z-index: 1" id="{{project.id}}">{{project.creationDate|date:'M d'}}</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        <!--Card add project-->
        <div class="col-md-4">
          <div class="card mb-4" id="cardAddProject">
            <div class="card-body align-items-center d-flex justify-content-center">
              <button class="btn stretched-link" data-toggle="modal" data-target="#myProject"></button>
              <p><strong>Add project</strong> <i class="fas fa-plus"></i></p>
            </div>
          </div>
          <!-- The Modal add project -->
          <div class="modal fade" id="myProject">
            <div class="modal-dialog">
              <div class="modal-content">
                <form action = "{% url 'task:projects' %}" method = "post">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Add Project</h4>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-sm-3">
                        <h4>Title</h4>
                      </div>
                      <div class="col-lg-8">
                        {{ projectform.title }}
                      </div>
                    </div>
                  </div>
                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <input type = "submit" class="btn btn-success"  value ="Add"/>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!--End modal-->
        </div>
      </div>
    </div>
  </div>
  <script>
    anchors.options = {
  visible: 'always',
  icon: '',
};
    anchors.add('.anchorjs-link');
  </script>
  <script>
      function sortList(order) {
        
        var list, i, switching, b, shouldSwitch;
        list = document.getElementById("id1");
        switching = true;
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
        // start by saying: no switching is done:
        switching = false;
        b = list.querySelectorAll("div.sort");
        // Loop through all list-items:
        for (i = 0; i < (b.length - 1); i++) {
          // start by saying there should be no switching:
          shouldSwitch = false;
          /* check if the next item should
          switch place with the current item: */
          if (order == 0){
            d1 = new Date(b[i].querySelectorAll('div div div div small')[0].innerHTML);
            d2 = new Date(b[i + 1].querySelectorAll('div div div div small')[0].innerHTML);
          }
          else {
            d1 = b[i].querySelectorAll('div div div p')[0].innerHTML.toLowerCase();
          d2 = b[i + 1].querySelectorAll('div div div p')[0].innerHTML.toLowerCase();
          }
          if (d1 > d2) {
          /* if next item is alphabetically
          lower than current item, mark as a switch
          and break the loop: */
          shouldSwitch = true;
          break;
          }
        }
        if (shouldSwitch) {
          /* If a switch has been marked, make the switch
          and mark the switch as done: */
          b[i].parentNode.insertBefore(b[i + 1], b[i]);
          switching = true;
        }
        }
      }
      </script>
{% endblock %}
